<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Funnier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/"><img class="title" src="/img/title.png" alt=""></a>
            <div class="col-lg-6">
                
                <form class="my-4">
                    <div class="input-group">
                        <span class="input-group-text">Text Message 💬</span>
                        <textarea name="msg" id="msg" class="form-control" aria-label="With textarea">Click the pikachu to hide it 🥸</textarea>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-text">Mood of Message 💕</div>
                        <select name="mood" id="moodSelect" class="form-select" aria-label="Default select example">
                            <option selected>Select one</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-text">Intensity of Mood 🔥</div>
                        <select id="intensitySelect" class="form-select" aria-label="Default select example">
                            <option selected>Select one</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-text">Type of Message 📋</div>
                        <select id="typeSelect" class="form-select" aria-label="Default select example">
                            <option selected>Select one</option>
                        </select>
                    </div>
                    <br>
                    <button class="btn btn-secondary" type="submit">Submit ✅</button>
                </form>
                
            </div>
            <div class="col-lg-6">
                <div class="result">
                    <div class="input-group">
                        <span class="input-group-text">Result</span>
                        <textarea name="msg" id="msg" class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <img id="hide" class="pikachu" src="/img/pikachu-wink.gif" alt="pikachu">
                </div>
                
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
    <script src="/js/alg.js"></script>
    <script>
        document.getElementById("hide").onclick = function(e) {
            console.log("hi")
            e.target.style.visibility = 'hidden';        
        }
    </script>
</body>
</html>